.text-btn-search{
	font-weight: bold;
	color: #fff;
	margin-right:  10px;
}
.form-control{
	font-size: 15px;
	margin-right: 10px;
}
.navbar{
	justify-content: space-between;
}
.navbar-brand{
	margin-right: 50px;
	font-size: 30px;
}
.navbar-user {
	cursor: pointer;	
	padding-left: 5px;
}
	.navbar-user:hover{
		background-color: #1967C5;
		padding-left: 5px;
		border-radius: 5px;
	}
	.navbar-user span{
		font-size: 18px;
		color: #fff;
	}
	.navbar-user img{
		width: 55px;
		height: 55px;
		
	}