body {
    margin: 0%;
    padding: 0%;
    background-image: url('../Images/survey2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
.loginbox {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"] , input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000000;
}
.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover {
    color: #ffc107;

}